.rainbowBackground {
  background: linear-gradient(270deg, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 1600% 1600%;

  -webkit-animation: text 10s ease infinite;
  -moz-animation: text 10s ease infinite;
  animation: text 10s ease infinite;

  @-webkit-keyframes text {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes text {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes text {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  display: inline;
}

.name {
  color: black;
  background: white;
  mix-blend-mode: screen;
  text-decoration: none;
  transition: 0.75s;
}

.blogHeader {
  font-weight: 700
}
/*
Bootstrap Breakpoints Mixins
*/
@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint == "sm" {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == "md" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == "lg" {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == "xl" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
@mixin media-breakpoint-down($breakpoint) {
  @if $breakpoint == "xs" {
    @media (max-width: 575.98px) {
      @content;
    }
  }
  @if $breakpoint == "sm" {
    @media (max-width: 767.98px) {
      @content;
    }
  }
  @if $breakpoint == "md" {
    @media (max-width: 991.98px) {
      @content;
    }
  }
  @if $breakpoint == "lg" {
    @media (max-width: 1199.98px) {
      @content;
    }
  }
}

/*
Bootstrap Variables
*/
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family:        null !default;


/*
Code
*/
.m-subscribe1 {
  background: $gray-100;
  padding-bottom: 40px;
  padding-top: 44px;
  width: 100%;
  &__title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 2px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      text-align: left;
    }
  }
  &__form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    input[type=email] {
      max-width: 400px;
      margin-right: .5rem;
      display: block;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: .75rem;
    outline: none;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    max-width: 100%;
    line-height: 1;
    }
    button[type=submit] {
      -webkit-appearance: none;
    display: inline-block;
    border: 2px solid #5183f5;
    border-radius: 4px;
    background: #5183f5;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: none;
    padding: .6rem .9rem;
    margin: 0 0 .5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    }
  }
}


.emailInputText {
  margin-right: .5rem;
  display: block;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: .75rem;
  outline: none;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.subscribeButton {
  -webkit-appearance: none;
    display: inline-block;
    border: 2px solid #5183f5;
    border-radius: 4px;
    background: #5183f5;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: none;
    padding: .6rem .9rem;
    margin: 0 0 .5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}



.newsletterSection {
  border-radius: 4px;
    padding: 3rem;
    text-align: center;
    width: 75%;
    background: #f2f2f2;
}

.frontPage {
  border-bottom: 0;
  padding-bottom: 0;
}

.newsletterForm {
  display: flex;
}




.blogDescription {
  margin-top: -15px;
  font-size: 16px;
  margin-bottom: -5px;
  line-height: 20px;
}


.w3-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.w3-blue, .w3-hover-blue:hover {
  color: #fff!important;
  background-color: #2196F3!important;
}